<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Prepaid  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20110227
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="Marcus Ljungblad" />
   <title>{{ page.title }}</title>
   <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
   <link href="css/syntax.css" rel="stylesheet" type="text/css" media="screen" />
   <link href="css/jquery.tweet.css" rel="stylesheet" type="text/css" media="screen" />
   <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
   <script language="javascript" src="/js/jquery.tweet.js" type="text/javascript"></script>
   <script type='text/javascript'>
     $(document).ready(function(){
      $(".tweet").tweet({
       avatar_size: 40,
       count: 5,
       query: "mljungblad",
       loading_text: "Loading tweets...",
       refresh_interval: 10
      });
     });
   </script>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="/">Thesis Log</a></h1>
    </div>
  </div>
  <div id="splash">&nbsp;</div>
  <!-- end #header -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
	<div id="content">	  
	  <!-- MAIN CONTENT GOES HERE -->
	  
	  {{ content }}
	  
	  <!-- END CONTENT -->
	  <div style="clear: both;">&nbsp;</div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h2>What is this?</h2>
	      <p>Many researchers say, start writing your thesis early. Well, this is my way of trying to do that. My goal is to write at least one post a day during my thesis semester. Although, for obvious reasons, I cannot share all details, I will at least try to share interesting findings, ideas that come to mind, possible portions of the final report, occasional hickups, and maybe a photo once in a while.</p>
        <p>If you have suggestions for improvements, feel free to e-mail me on marcus at ljungblad dot nu.</p>
	    </li>
	    <li>
	      <h2>Feed</h2>
	      <p><a href="http://log.scalethis.nu/feed.xml">Keen reader? Follow the feed.</a><p>
	    </li>
	  </ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer-wrapper">
  <div id="three-columns">
    <div id="column1">
      <h2>Who is Marcus?</h2>
      <p>blah blah</p>
    </div>
    <div id="column2">
      <h2>What is Tuenti?</h2>
      <p>blah blah</p>
    </div>
    <div id="column3">
      <h2>What is EMDC?</h2>
      <p>
	Twitter<br />
	Facebook
      </p>
    </div>
  </div>
  <div id="footer">
    <p>CC-BY-ND. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
  </div>
  <!-- end #footer -->
</div>
</body>
</html>

