<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Prepaid  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20110227
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="Marcus Ljungblad" />
   <title>{{ page.title }}</title>
   <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="/">Thesis Log</a></h1>
    </div>
    <div id="search">
      <form method="get" action="">
	<fieldset>
	  <input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
	  <input type="submit" id="search-submit" value="GO" />
	</fieldset>
      </form>
    </div>
  </div>
  <div id="splash">&nbsp;</div>
  <!-- end #header -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
	<div id="content">	  
	  <!-- MAIN CONTENT GOES HERE -->
	  
	  {{ content }}
	  
	  <!-- END CONTENT -->
	  <div style="clear: both;">&nbsp;</div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h2>What is this?</h2>
	      <p>This is a page about my thesis work.</p>
	    </li>
	    <li>
	      <h2>Classes of Info</h2>
	      <p>Maybe there will be some more information here.</p>
	    </li>
	  </ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer-wrapper">
  <div id="three-columns">
    <div id="column1">
      <h2>Who is Marcus?</h2>
      <p>blah blah</p>
    </div>
    <div id="column2">
      <h2>What is Tuenti?</h2>
      <p>blah blah</p>
    </div>
    <div id="column3">
      <h2>What is EMDC?</h2>
      <p>
	Twitter<br />
	Facebook
      </p>
    </div>
  </div>
  <div id="footer">
    <p>CC-BY-ND. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
  </div>
  <!-- end #footer -->
</div>
</body>
</html>

