<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Prepaid  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20110227
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="Marcus Ljungblad" />
   <title>{{ page.title }}</title>
   <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
   <link href="/css/syntax.css" rel="stylesheet" type="text/css" media="screen" />
   <link href="/css/jquery.tweet.css" rel="stylesheet" type="text/css" media="screen" />
   <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-795495-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="/">Thesis Log</a></h1>
    </div>
  </div>
  <div id="splash">&nbsp;</div>
  <!-- end #header -->
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
	<div id="content">	  
	  <!-- MAIN CONTENT GOES HERE -->
	  
	  {{ content }}
	  
	  <!-- END CONTENT -->
	  <div style="clear: both;">&nbsp;</div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h2>What is this?</h2>
	      <p>Many researchers say, start writing your thesis early. This is my way of approaching that. The goal is to write at least one post everyday. For common reasons I will not be able to share all details, however, I will at least try to collect interesting findings, ideas that come to mind, portions of the report, and of course occasional hickups.</p>
        <p>If you have suggestions for improvements, feel free to <a href="mailto:marcus@ljungblad.nu">contact me</a>.</p>
	    </li>
	    <li>
	      <h2>The Feed</h2>
	      <p>Feeling for a post a day? <a href="http://thesis.ljungblad.nu/feed.xml">Then the feed is for you</a>. And no, I don't normally post on weekends ;)<p>
	    </li>
	  </ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
       </div>
     </div>
  </div>
  <!-- end #page -->
</div>
<div id="footer-wrapper">
  <div id="three-columns">
    <div id="column1">
      <h2>Marcus who?</h2>
      <p>Not interested in my thesis work but want to find out more about me... (a little freakish), check my personal blog on <a href="http://ljungblad.nu">http://ljungblad.nu</a></p>
      <p>Contact me on <a href="http://twitter.com/mljungblad">Twitter</a> or by <a href="mailto:marcus@ljungblad.nu">e-mail</a>.</p>
    </div>
    <div id="column2">
      <h2>What is Tuenti?</h2>
      <p><a href="http://tuenti.com">Tuenti</a> is the largest private social network in the world with a primary focus on the Spanish market. It has around 13 million users and is still growing strong. For more information about Tuenti check <a href="http://blog.tuenti.com/">their blog</a> and their <a href="http://blog.tuenti.com/dev/">tech blog</a>.</p>
      <p>Btw, it is a really cool place to work at.</p> 
    </div>
    <div id="column3">
      <h2>EMDC what?</h2>
      <p>
	     EMDC stands for <a href="http://www.kth.se/en/studies/programmes/master/em/emdc">European Master in Distributed Systems</a> and is a double-degree computer science programme jointly run by the <a href="http://www.kth.se/">KTH</a>, <a href="http://www.upc.edu/">UPC</a>, and <a href="http://www.ist.utl.pt/">IST</a>. Our class is a small group of dedicated students with a passion for technologies related to scalability, fault-tolerance, high-availability, networks, clouds, distribution and much more. 
      </p>
    </div>
  </div>
  <div id="footer">
    <p>CC-BY-ND. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
  </div>
  <!-- end #footer -->
</div>
</body>
</html>

